
projects/rt-thread_foc/.settings/projcfg.ini
projects/rt-thread_foc/.settings/org.eclipse.core.resources.prefs
projects/rt-thread_foc/.cproject
projects/rt-thread_foc/.settings/language.settings.xml
projects/rt-thread_foc/cubemx/
